.task {
  word-wrap: break-word;
}

.true {
    background-color: #BDC3C7;
}

.list-group {
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  margin-bottom: 0.5rem;
  margin-left: auto;
  transition: all .2s ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.list-group-item {
  display: flex;
}
